* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
select {
  font: inherit;
  margin-bottom: 1em;
  resize: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  padding: 5px 5px;
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  /* text-decoration: underline; */
  color: #2baaaa;
}

button {
  cursor: pointer;
  font: inherit;
  margin-bottom: 1em;
  border-radius: 10px;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}

.deleteButton:hover {
  background-color: rgb(236, 180, 199);
  color: rgb(17, 16, 16);
}

.saveButton {
  background-color: white;
  color: black;
}

.saveButton:hover {
  background-color: rgb(91, 164, 223);
  color: white;
}

.viewPost,
.editPost,
.userLink,
.userPageLink,
.buttonGoBack {
  text-decoration: none;
  margin-right: 10px;
  color: #2baaaa;
}

.singlePost {
  padding-top: 20px;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
}

.back-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #2baaaa;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  rotate: 270deg;
}

.back-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-top-button i {
  transform: translateY(
    1px
  ); /* Це для корекції вертикального положення іконки */
}
